          <!-- Intro -->
          <section id="intro">
            <a href="#" class="logo"><img src=<%= image_path("logo.jpg") %> alt="" /></a>
            <header>
              <h2>DevGlade Blog</h2>
            </header>
          </section>