            <!-- Banner -->
            <section id="banner">
              <div class="content">
                <header>
                  <h1>DevGlade Blog<br /></h1>
                  <p>데브글레이드 블로그 입니다.</p>
                </header>
                <p>열린 개발 공간을 지향하는 데브글레이드 입니다. 행복한 개발자로 부터 좋은 제품이 나오고, 좋은 제품은 다시 사용자를 행복하게 만듭니다. 만드는 사람, 제품, 사용자 모두 동등하게 중요합니다.</p>
                <ul class="actions">
                  <li><a href="#" class="button big">Learn More</a></li>
                </ul>
              </div>

            </section>
