				<!-- Main -->
        <div id="main">
          <div class="inner">
            <%= render 'welcome/editorial/main_header' %>

            <%= render 'welcome/editorial/main_banner' %>

            <%= render 'welcome/editorial/main_posts' %>

          </div>
        </div>