
				<!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">

            <!-- Search -->
              <section id="search" class="alt">
                <form method="post" action="#">
                  <input type="text" name="query" id="query" placeholder="Search" />
                </form>
              </section>

              <%= render 'welcome/editorial/sidebar_menu' %>



              <%= render 'welcome/editorial/sidebar_contact' %>

              <%= render 'welcome/editorial/sidebar_footer' %>

          </div>
        </div>

